@model PurchaseOrderCart

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Product.Description</h5>

        <!-- Vertical Form -->
        <form class="row g-3" method="post">
            <input hidden asp-for="ProductId"/>
            <div class="col-6">
                <label for="Number" class="form-label">Number</label>
                <input disabled type="text" class="form-control" id="Number" placeholder="@Model.Product.Number">
            </div>
            <div class="col-6">
                <label for="Description" class="form-label">Description</label>
                <input disabled type="text" class="form-control" id="Description" placeholder="@Model.Product.Description">
            </div>
            <div class="col-6">
                <label for="Group" class="form-label">Group</label>
                <input disabled type="text" class="form-control" id="Group" placeholder="@Model.Product.Group">
            </div>
            <div class="col-6">
                <label for="UOM" class="form-label">UOM</label>
                <input disabled type="text" class="form-control" id="UOM" placeholder="@Model.Product.UOM">
            </div>
            <div class="col-6">
                <label for="type" class="form-label">Type</label>
                <input disabled type="text" class="form-control" id="type" placeholder="@Model.Product.Type">
            </div>
            <div class="col-6">
                <label for="quantity" class="form-label">Count</label>
                <input asp-for="Count" type="number" class="form-control" id="quantity" min="1" placeholder="Add quantity to place the order">
            </div>
            <div class="text-center " style="padding-top:10px;">
                <button type="submit" class="btn btn-primary">ADD TO ORDER CART</button>
                @* <button type="reset" class="btn btn-secondary">Reset</button> *@
            </div>
        </form><!-- Vertical Form -->

    </div>
</div>